<table width="100%" border="0" cellpadding="1" cellspacing="0">
<tr align="center" bgcolor="#000000">
<td style="border-bottom: 1px solid #444444;white-space:nowrap">層數</td>
<td style="border-bottom: 1px solid #444444;">敵人</td>
<td style="border-bottom: 1px solid #444444;">HP</td>
<td style="border-bottom: 1px solid #444444;" width="1"></td>
<td style="border-bottom: 1px solid #444444;">間隔</td>
<td style="border-bottom: 1px solid #444444;">攻擊力</td>
<td style="border-bottom: 1px solid #444444;" width="1"></td>
<td style="border-bottom: 1px solid #444444;">防禦力</td>
</tr>
<tr align="center">
<td rowspan="10" style="border-bottom: 1px solid #444444;" class="big130">1</td>
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/46.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">100,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">41200</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">10,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/48.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">100,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">42000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">10,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/50.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">100,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">42960</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">10,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/52.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">100,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">43800</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">10,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/54.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">100,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">44800</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">10,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="4" style="border-bottom: 1px solid #444444;" class="big130">2</td>
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/414.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">301,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">51800</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">50,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/417.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">306,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">53600</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">50,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center"><td colspan="9" style="line-height:normal;border-bottom: 1px solid #444444;"><div id="ypaAdWrapper-List1"></div></td></tr>
<tr align="center">
<td rowspan="2" style="border-bottom: 1px solid #444444;" class="big130">3</td>
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/428.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">95760</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">10,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" style="border-bottom: 1px solid #444444;" class="big130">4</td>
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/4244.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/8.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">1,000,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">136000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">10,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center"><td style="line-height:normal; border-bottom: 1px solid #444444;" rowspan="25">
<span class="big130">5</span><br><span class="b">(</span><br>隨<br>機<br>2<br>隻<br><span class="b">)</span>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3318.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">5,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3318.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3319.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">5,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3319.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3320.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">5,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3320.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3321.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">5,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3321.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3322.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">5,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3322.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3323.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">5,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3323.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3324.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">5,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3324.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3325.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">5,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3325.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3700.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">1,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3700.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3701.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">1,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3701.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3702.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">1,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3702.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3703.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/11.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">88000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">1,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3703.png" width="20"> Lv.1 掉落<br>
</td></tr>
<tr align="center"><td style="line-height:normal; border-bottom: 1px solid #444444;" rowspan="11">
<span class="big130">6</span><br><span class="b">(</span><br>隨<br>機<br>1<br>隻<br><span class="b">)</span>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/694.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">200,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">130400</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">100,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/973.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">200,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">131200</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">100,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/983.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">200,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">127800</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">100,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/1271.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">200,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">126600</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">100,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/1517.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/7.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">200,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">129200</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">100,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" style="border-bottom: 1px solid #444444;" class="big130">7</td>
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/4011.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/4.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">700,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">99600</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">50,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" style="border-bottom: 1px solid #444444;" class="big130">8</td>
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/922.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/4.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">50,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">3</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">144000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">1,000,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱10000/10000000 掉落<br>
</td></tr>
<tr align="center"><td style="line-height:normal; border-bottom: 1px solid #444444;" rowspan="11">
<span class="big130">9</span><br><span class="b">(</span><br>隨<br>機<br>2<br>隻<br><span class="b">)</span>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/475.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/5.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">324,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">76800</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">60,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/476.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/5.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">318,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">63200</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">60,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/477.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/5.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">306,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">80600</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">60,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/478.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/5.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">360,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">69000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">60,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/479.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/5.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">330,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">81400</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">60,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center"><td style="line-height:normal; border-bottom: 1px solid #444444;" rowspan="5">
<span class="big130">10</span><br><span class="b">(</span><br>隨<br>機<br>1<br>隻<br><span class="b">)</span>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3877.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/4.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">700,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">149000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">60,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/4995.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/4.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">750,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">152000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">10,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
錢箱無 掉落<br>
</td></tr>
<tr align="center"><td style="line-height:normal; border-bottom: 1px solid #444444;" rowspan="9">
<span class="big130">11</span><br><span class="b">(</span><br>隨<br>機<br>1<br>隻<br><span class="b">)</span>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3638.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/2.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">1,500,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">219000</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">600,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3637.png" width="20"> Lv.10 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3640.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/2.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">2,000,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">1</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">223200</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">100,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3639.png" width="20"> Lv.10 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3642.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/3.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/2.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">2,000,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">4</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">813600</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">1,000,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3641.png" width="20"> Lv.10 掉落<br>
</td></tr>
<tr align="center">
<td rowspan="2" width="40" style="border-bottom: 1px solid #444444;">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3311.png" width="70" height="70" align="absmiddle" class="up"><p style="margin-top:1px; margin-bottom:0px"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/2.png" width="12"><img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/Type/4.png" width="12"></p>
</td>
<td style="border-radius:7px; background:#ff1525;  font-family:Arial">2,000,000,000</td>
<td></td>
<td style="border-top-left-radius:7px;border-bottom-left-radius:7px;background:#cc6600;font-family:Arial">2</td>
<td style="border-top-right-radius:7px; border-bottom-right-radius:7px; background:#006666;font-family:Arial">291140</td>
<td></td>
<td style="border-radius:7px; background:#009966;font-family:Arial">500,000,000</td>
</tr>
<tr align="left"><td colspan="6" style="border-bottom: 1px solid #444444; " class="skill">
<img src="https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/3310.png" width="20"> Lv.10 掉落<br>
</td></tr>
</table>

