<!DOCTYPE html>
<html>
<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>PAD Dungeons</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://bootswatch.com/3/slate/bootstrap.min.css">


</head>

<body>

  <div class="container-fluid">

    <h2>PAD Dungeons</h2>

    <div class="well well-sm">

    <ul class="list-group">

      <div style="margin-top: 15px; text-align: center;">
        <h4>{{ "活動地下城" }}</h4>
      </div>

      {% for dungeonName in df_eventDungeon.dungeonName.unique() %}
          <a class="list-group-item" data-toggle="collapse" data-target="#eventDungeon{{ loop.index }}">
            <img src='{{ "https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/" ~ df_eventDungeon.loc[df_eventDungeon.dungeonName == dungeonName].subDungeonBossId.tolist()[0] ~ ".png" }}' width="18">
            {{ dungeonName }}
          </a>
          <div id="eventDungeon{{ loop.index }}" class="collapse">
            {% for index, row in df_eventDungeon.loc[df_eventDungeon.dungeonName == dungeonName].iterrows() %}
                <a href="{{ url_for('subDungeonPage', dungeon = dungeonName, subDungeon = row['subDungeonName']) }}" class="list-group-item" style="padding-left: 25px; padding-top: 8px; padding-bottom: 8px; background-color: #272B30;">
                  <img src='{{ "https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/" ~ row["subDungeonBossId"] ~ ".png" }}' width="18">
                  {{ row['subDungeonName'] }}
                </a>
            {% endfor %}
          </div>
      {% endfor %}

      {% for dungeonType in df_dungeon.dungeonType.unique() %}

        <div style="margin-top: 15px; text-align: center;">
          <h4>{{ dungeonType }}</h4>
        </div>

        {% for index, row in df_dungeon.loc[df_dungeon.dungeonType == dungeonType].iterrows() %}
          <a href="{{ url_for('dungeonPage', dungeon = row['dungeonName']) }}" class="list-group-item">
            <img src='{{ "https://raw.githubusercontent.com/jutongpan/paddata/master/img/MonsterIcon/" ~ row["dungeonBoss"] ~ ".png" }}' width="20">
            {{ row['dungeonSeries'] }} - {{ row['dungeonName'] }}
          </a>
        {% endfor %}

      {% endfor %}

    </ul>

    </div>

  </div>


  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>



</body>
</html>
